[submodule "src/urlvar"]
	path = src/urlvar
	url = https://github.com/Quoteme/urlvar.git
[submodule "src/keyboard"]
	path = src/keyboard
	url = https://github.com/Quoteme/keyboard.git
[submodule "src/cutImg"]
	path = src/cutImg
	url = https://github.com/Quoteme/cutImg
